a {
    text-decoration: none;
}

a:hover {
    color: cyan;
}

body {
    margin: auto;
    max-width: 60em;
    padding: 0 1em 2em 1em;
    font-family: sans-serif;
    background-color: #eee;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}

header {
    border-bottom: 1px #000 solid;
    margin-bottom: 5px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content {
    padding-top: 1em;
}

#logged {
    margin-left: auto;
}

#logged a {
    margin-left: 1em;
}

.user_info {
    display: flex;
    flex-flow: column nowrap;
}

.user_info input {
    max-width: 20em;
    margin-bottom: 10px;
}

.user_info #submit {
    max-width: 12em;
}