{% extends "layout.html" %}
{% block content %}

<h2>Rastin tiedot:</h2>
{% if message %}
<h3>{{ message }}</h3>
<a href="/own">Palaa rastin tietoihin</a>
{% else %}
<form action="/send" method="POST" class="user_info">
    <label form="names">Rastinvetäjien nimet:</label>
    <input type="text" id="names" name="names" value="{{ user_info[0] }}">
    <label form="phone">Puhelinnumero:</label>
    <input type="text" id="phone" name="phone" value="{{ user_info[1] }}">
    <label form="checkpoint">Rastin kuvaus:</label>
    <input type="text" id="checkpoint" name="checkpoint" value="{{ checkpoint_info[0] }}">
    <label form="location">Rastin sijainti:</label>
    <input type="text" id="location" name="location" value="{{ checkpoint_info[1] }}">
    <input type="submit" id="submit" value="Tallenna muutokset">
    HUOM! Ensimmäisellä kerralla voit tallentaa tiedot, jotka haetaan tietokannasta.
    Tallennettuja tietoja ei vielä voi muokata.
</form>
{% endif %}
{% endblock %}