{% extends "layout.html" %}
{% block content %}

<h2>Rastin tiedot</h2>
{% if message %}
<h2>{{ message }}</h2>
<a href="/user/{{ session.user_id }}">Palaa rastin tietoihin</a>
{% else %}
<form action="/send_checkpoint" method="POST" class="uinfo">
    <label form="names">Rastinvetäjien nimet:</label>
    <input type="text" id="names" name="names" value="{{ user_info[0] }}">
    <label form="phone">Puhelinnumero:</label>
    <input type="text" id="phone" name="phone" value="{{ user_info[1] }}">
    <label form="theme">Rastin kuvaus:</label>
    <input type="text" id="theme" name="theme" value="{{ checkpoint_info[0] }}">
    <label form="location">Rastin sijainti:</label>
    <input type="text" id="location" name="location" value="{{ checkpoint_info[1] }}">
    <input type="submit" id="submit" value="Tallenna muutokset">
    <input type="hidden" name="token" value="{{ session.token }}">
</form>
{% endif %}
{% endblock %}