{% extends "layout.html" %}
{% block content %}
{% if message %}
    <div class="message">
        {{ message }}
    </div>
{% endif %}
<h2>Rastin tiedot</h2>
{% if admin_edit %}
<form action="/send_checkpoint/{{ uid }}" method="POST" class="uinfo">
{% else %}
<form action="/send_checkpoint" method="POST" class="uinfo">
{% endif %}
    <label for="names">Rastinvetäjien nimet:</label>
    <input type="text" id="names" name="names" value="{{ user_info[0] }}">
    <label for="phone">Puhelinnumero:</label>
    <input type="text" id="phone" name="phone" value="{{ user_info[1] }}">
    <label for="theme">Rastin kuvaus:</label>
    <input type="text" id="theme" name="theme" value="{{ user_info[2] }}">
    <label for="location">Rastin sijainti:</label>
    <input type="text" id="location" name="location" value="{{ user_info[3] }}">
    <input type="submit" id="submit" value="Tallenna muutokset">
    <input type="hidden" name="token" value="{{ session.token }}">
</form>
{% if admin_edit %}
<a href="/select_checkpoint?view_checkpoint={{ uid }}">Palaa tallentamatta</a>
{% else %}
<a href="/user">Palaa rastin tietoihin</a>
{% endif %}
{% endblock %}