{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
<h2>Niin sitä pitää!</h2>
Olet kirjautunut sisään ja voit tehdä asioita. 
<br>
Tällä hetkellä voit käydä Oma rasti -sivulla tallentamassa tiedot tietokantaan
tai muokata tallentamiasi tietoja.
<p>
Sovellus ei ole vielä tietoturvallinen CSRF-haavoittuvuuden osalta, istuntoa 
ei tarkisteta.

{% else %}
<h2>Morjes!</h2>
Tää on fuksisuunnistussovellus. Kantsii nopee kirjautuu sisään.
Tunnuksen voit luoda kirjautumissivulla.
{% endif %}
{% endblock %}