{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
<h2>Olet kirjautunut sovellukseen!</h2>
Sovelluksen dokumentaatioon voit tutustua
<a href="https://github.com/kvjanhun/tsoha-fuksisuunnistus">GitHubissa</a>. 
<p>
Keskeisimmät ominaisuudet:<ul>
<li>Oma rasti -sivulla voit tarkastella rastisi tietoja 
    tai muokata niitä.
</li>
<li>Ylläpitäjä-sivulla tarkastella kaikkia rasteja
    listana tai muokata yksittäistä rastia. Ylläpitäjä-sivulla voit myös 
    lisätä joukkueita sovellukseen.
</li>
<ul><li>Mikäli et näe Ylläpitäjä-linkkiä, tee uusi käyttäjätunnus ja valitse
    rekisteröitymisen yhteydessä "Tee tunnuksesta ylläpitäjä". Tämä ominaisuus
    on olemassa sovelluksen testikäyttöä varten.
</li></ul>
<li>Joukkueita voi arvostella.
</li>
</ul>
<p>
{% else %}
{% if message %}
    <div class="message">
        {{ message }}
    </div>
{% endif %}
<h2>Kirjaudu sisään</h2>
Sovelluksen käyttäminen vaatii sisäänkirjautumisen. Kirjaudu
sisään tai <a href="/register">luo tunnus</a>.
{% endif %}
{% endblock %}