<!doctype html>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fuksisuunnistus</title>
<header>
    <h1>Fuksisuunnistus</h1>
    <div class="links">
        <a href="/">Etusivu</a>
        <a href="/">Sivusivu</a>
        <a href="/">Takasivu</a>
        {% if session.user_id %}
        <div id="logged">Kirjautunut: {{ session.user_name }}
            <a href="/logout">Kirjaudu ulos</a>
        </div>
        {% else %}
        <div id="logged">
            <a href="/login">Kirjaudu sisään</a>
        </div>
        {% endif %}
    </div>
</header>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
