<!doctype html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fuksisuunnistus</title>
</head>
<body>
    <header>
        <h1>Fuksisuunnistus</h1>
        <nav>
            <a href="/">Etusivu</a>
            <a href="/own">Oma rasti</a>
            <a href="/groups">Joukkueet</a>
            <a href="/checkpoints">Kaikki rastit</a>
            {% if session.user_id %}
            <div id="logged">Kirjautunut: {{ session.user_name }}
                <a href="/logout">Kirjaudu ulos</a>
            </div>
            {% else %}
            <div id="logged">
                <a href="/login">Kirjaudu sisään</a>
            </div>
            {% endif %}
        </nav>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    
    <footer>
        © 2022
    </footer>
</body>