{% if session.user_id %}
<div id="login_status">Kirjautunut: {{ session.user_name }}
    <a href="/logout">Kirjaudu ulos</a>
</div>
{% else %}
<div id="login_status">
    <form action="/login" method="POST" id="login_form">
        <div>
            <label for ="username">Tunnus</label>
            <input type="text" name="username">
        </div>
        <div>
        <label for ="password">Salasana</label>
        <input type="password" name="password">
        </div>
        <button type="submit">Kirjaudu</button>
        <a href="/register">Luo uusi tunnus</a>
        </form>
</div>
{% endif %} 
