{% extends "layout.html" %}
{% block content %}
{% if message %}
    <div class="message">
        {{ message }}
    </div>
{% endif %}
<h2>Luo käyttäjätunnus</h2>
<form action="/register" method="POST" id="register_form">
    <span class="field">
        <label for="name">Tunnus:</label>
        {% if username %}
        <input type="text" name="username" value="{{ username }}">
        {% else %}
        <input type="text" name="username">
        {% endif %}
    </span>
    <span class="field">
        <label for="password1">Salasana:</label>
        {% if password1 %}
        <input type="password" name="password1" value="{{ password1 }}">
        {% else %}
        <input type="password" name="password1">
        {% endif %}
    </span>
    <span class="field">
        <label for="password2">Salasana uudelleen:</label>
        {% if password1 %}
        <input type="password" name="password2" value="{{ password2 }}">
        {% else %}
        <input type="password" name="password2">
        {% endif %}
    </span>
    <input type="submit" value="Luo tunnus">
    <span id="admin_checkbox">
        <input type="checkbox" id="admin_cb" name="admin_cb" value="True">
        <label for="admin_cb">Tee tunnuksesta ylläpitäjä</label>
    </span>
</form>
{% endblock %}