{% extends "layout.html" %}
{% block content %}
<h2>Valitun rastin tiedot</h2>
<form>
    <label for="view_checkpoint">Rasti:</label>
    <select name="view_checkpoint" id="view_checkpoint">
        <option value="">- Valitse -</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <button id="button">Näytä</button>
</form>
<div class="all_checkpoint_container">
    <div id="single_checkpoint_container">
        <h3>Rasti {{ checkpoint[1] }}</h3>
        <div id="checkpoint_content">
            <p><strong>Nimet:</strong>    {{ checkpoint[2] }}</p>
            <p><strong>Numero:</strong>   {{ checkpoint[3] }}</p>
            <p><strong>Rasti:</strong>    {{ checkpoint[6] }}</p>
            <p><strong>Sijainti:</strong> {{ checkpoint[7] }}</p>
        </div>
    </div>
</div>
{% endblock %}
